<template>
  <div>
    <h1 v-text="valorActual"></h1>
    <el-button
      type="success"
      @click="sumar"
    >Incrementar</el-button>
    <el-button
      type="danger"
      @click="restar"
    >Decrementar</el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valorActual: 0
    };
  },

  methods: {
    sumar() {
      this.valorActual++;
    },
    restar() {
      this.valorActual--;
    }
  }
};
</script>