<template>
  <div>
    <h1 v-text="promedio"></h1>
    <el-input-number
      v-for="(item, index) in listaNumeros"
      :key="index"
      v-model="listaNumeros[index]"
      controls-position="right"
    />
    <div>
      <el-button @click="agregarElemento">Agregar Elemento</el-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      listaNumeros: [25, 25, 25, 100]
    };
  },
  computed: {
    promedio() {
      let suma = 0;
      let cantidad = this.listaNumeros.length;
      this.listaNumeros.forEach(elemento => {
        suma = suma + parseFloat(elemento);
      });
      return suma / cantidad;
    }
  },
  methods: {
    agregarElemento() {
      this.listaNumeros.push(0);
    }
  }
};
</script>