<template>
  <div>
    <button @click="numeroPestaniaActual(1)">Pestaña 1</button>
    <button @click="numeroPestaniaActual(2)">Pestaña 2</button>
    <button @click="numeroPestaniaActual(3)">Pestaña 3</button>
    <h2>Actualmente se encuentra en:</h2>
    <div v-if="pestaniaActual == 1">
      <h1>Primera Pestaña</h1>
    </div>
    <div v-else-if="pestaniaActual == 2">
      <h1>Segunda Pestaña</h1>
    </div>
    <div v-else-if="pestaniaActual == 3">
      <h1>Tercera Pestaña</h1>
    </div>

  </div>
</template>

<script>
export default {
  data() {
    return {
      pestaniaActual: 1
    };
  },
  methods: {
    numeroPestaniaActual(numero) {
      this.pestaniaActual = numero;
    }
  }
};
</script>